<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'asd/main.css' %}">
</head>
<body>
    <!-- 상단 -->
    <div class="navbar">
        <div class="left-menu">
            <a href="/">메인화면</a>
        </div>
        <div class="right-menu">
            <a href="/login">로그인/회원가입</a>
        </div>
    </div>

    <div class="top-navbar">
        <a href="/main_list_1">메인목록1</a>
        <a href="/main_list_2">메인목록2</a>
        <a href="/main_list_3">메인목록3</a>
        <a href="/main_list_4">메인목록4</a>
        <a href="/main_list_5">메인목록5</a>
    </div>


    <!-- 중앙 -->
    <div class="content">
        <h1>홈페이지 화면 제목입니다.</h1>
        <p>세부설명을 기재해주세요.</p>

        <!-- 1) 모아보기 구역 -->
        <div class="info-section">

            <!-- 구역1 -->
            <div class="info-item-1">
                <h2>1. 전력 사용량</h2>
                <p>사용량을 그래프, 표로 시각화해주세요.</p>
            </div>
            <!-- 구역2 -->
            <div class="info-item-2">
                <h2>2. 공지사항</h2>
                <p>공지사항(알림/이벤트)를 2열로 표시합니다.</p>
            </div>
            <!-- 구역3 -->
            <div class="info-item-3">
                <h2>3. 로그인 바로하기</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">로그인</button>
                </form>
                <p>
                    <a href="{% url 'signup' %}">회원가입</a>
                </p>
            </div>
        </div>


        <!-- 2) 즐겨찾기 -->
        <div class="bookmark">
            <h2>즐겨찾기한 서비스로 이동할 수 있습니다.</h2>
            <div class="bookmark-list">
                <!-- 구역3 -->
                <div class="bookmark-item">
                    <h3>즐겨찾기 1</h3>
                    <p>즐겨찾기1에 대한 세부 내용을 간단히 적어주세요.</p>
                    <a href="/bookmark1">즐겨찾기1 이동버튼</a>
                </div>
                <!-- 구역3 -->
                <div class="bookmark-item">
                    <h3>즐겨찾기 2</h3>
                    <p>즐겨찾기2에 대한 세부 내용을 간단히 적어주세요.</p>
                    <a href="/bookmark2">즐겨찾기2 이동버튼</a>
                </div>
                <!-- 구역3 -->
                <div class="bookmark-item">
                    <h3>즐겨찾기 3</h3>
                    <p>즐겨찾기3에 대한 세부 내용을 간단히 적어주세요.</p>
                    <a href="/bookmark3">즐겨찾기3 이동버튼</a>
                </div>
            </div>
        </div>

        <!-- 바로가기 메뉴 -->
        <div class="fixed-menu">
            <a href="/mypage">마이 페이지</a>
            <a href="/panel_info">패널 정보</a>
            <a href="/Last_accessed">최근 접속</a>
            <a href="/contact_us">문의 방법</a>
            <!-- 하단에 top/down 버튼 추가 -->
            <div class="top-bottom-buttons">
                <a href="#" onclick="scrollToTop()">top</a>
                <a href="#" onclick="scrollToBottom()">down</a>
            </div>
        </div>

    </div>


    <!-- 하단 메뉴 -->
    <footer>
        <a href="/privacy">개인정보 처리 방침</a>
        <a href="/terms">이용약관</a>
        <a href="/sitemap">사이트맵</a>
        <a href="/address">주소</a>

        <!-- 문의처(이메일) -->
        <div class="footer-email">
            E-mail: asdfasdf@asd.co.kr
        </div>
    </footer>

    <script>
        // 페이지 이동-최상단
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        // 페이지 이동-최하단
        function scrollToBottom() {
            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
        }
    </script>
</body>
</html>
