/*------------------------------------------------------------*/
/* 전체배경 색 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333; 
}

/*------------------------------------------------------------*/
/* 상단 메뉴 스타일 */
.top-navbar {
    background-color: white; /* 상단 메뉴 위 배경색 */
    padding: 10px 20px;
    text-align: center;
    color: black;
    margin-bottom: 20px; /* 상단메뉴와 메인컨텐츠 사이 간격 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 메뉴항목 감싸기 */
}
.top-navbar a {
    color: black;
    text-decoration: none;
    flex: 1; /* 메뉴항목 너비 동일하게 유지*/
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.top-navbar a:hover {
    text-decoration: underline;
}
.top-navbar a:not(:last-child) {
    border-right: 1px solid #ddd; /* 오른쪽만 구분선 추가 */
}
.navbar {
    display: flex;
    background-color: #333; /* 상단메뉴 배경색 */
    justify-content: space-between;
    padding: 14px 20px;
}
.navbar .left-menu a, .navbar .right-menu a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}
.navbar .left-menu a:hover, .navbar .right-menu a:hover {
    background-color: #575757;
}
.navbar .right-menu {
    margin-right: 1cm; /* 로그인/회원가입 버튼을 왼쪽으로 1cm 이동 */
}
.content {
    padding: 20px;
    text-align: center;
    flex: 1;
    background-color: white; /* 메인 컨텐츠 배경색*/
}
.info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.info-item-1 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}
.info-item-2 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}
.info-item-3 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}
.login-form {
    margin-top: 20px;
    text-align: left;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}
.login-form button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #575757;
}


.bookmark {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}
.bookmark h2 {
    margin-bottom: 20px;
}
.bookmark .bookmark-list {
    display: flex;
    justify-content: space-around;
}
.bookmark .bookmark-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
}
.bookmark .bookmark-item h3 {
    margin-top: 0;
}
.bookmark .bookmark-item a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.bookmark .bookmark-item a:hover {
    background-color: #575757;
}

/*------------------------------------------------------------*/
/* 바로가기 메뉴 스타일 */
.fixed-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    width: 60px;
    height: 100vh;
    border-radius: 0 0 8px 8px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fixed-menu a {
    display: block;
    color: white;
    padding: 15px 0;
    text-decoration: none;
    border-bottom: 1px solid #444;
    font-size: 14px;
}
.fixed-menu a:not(:last-child) {
    margin-bottom: 20px;
}
.fixed-menu a[href='/mypage'] {
    margin-top: 70px;
    margin-bottom: 70px; 
}
.fixed-menu a[href='/panel_info'] {
    margin-bottom: 70px; 
}
.fixed-menu a[href='/Last_accessed'] {
    margin-bottom: 70px; 
}
.fixed-menu a[href='/contact_us'] {
    margin-bottom: 70px; 
}
.fixed-menu a:last-child {
    border-bottom: none;
    margin-bottom: 10px; 
}
.top-bottom-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto; 
    margin-bottom: 20px;
}
.top-bottom-buttons a {
    display: block;
    padding: 15px;
    background-color: #444;
    border-top: 1px solid #333;
    color: white;
    text-decoration: none;
}
.top-bottom-buttons a:hover {
    background-color: #575757;
}

/*------------------------------------------------------------*/
/* 푸터 스타일 */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
}
.footer-email {
    margin-top: 10px;
    font-size: 14px;
}

/*------------------------------------------------------------*/